* {
    --font-fam: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.55);
}

.header-container {
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 0.4rem 0;
}

.container {

    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
}

.container img {
    width: 100px;
}

.menu {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;

}


.menu a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.5s;
    padding: 0.3rem 1.5rem;
    background-color: white;
    border-radius: 15px;
}

.menu a:hover {
    background-color: #77287d;
    color: white;
}

.menu a:not(:last-child) {

    margin-right: 1rem;
}

.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    height: 500px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.banner-title {
    color: black;
    font-size: 36px;
    margin-bottom: 0;
}

.banner-subtitle {
    color: black;
    font-size: 20px;
    margin-top: 8px;
}

/* Category */
.category {
    margin-top: 32px;
}

.category-list {
    display: flex;
    justify-content: space-evenly;
}

.category h2 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.category-item {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
    color: #222222;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.5s;

}

.category-item:hover {
    background-color: #77287d;
    color: #ffffff;
}

/* Popular */
.popular {
    margin-top: 56px;
}

/* Product */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    row-gap: 36px;
}

.product-item {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
}

.product-image {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.product-title {
    color: #222222;
    margin-bottom: 0;
    margin-top: 8px;
}

.product-price {
    color: #595959;
    font-weight: 500;
    margin-top: 4px;

}

.product-item:hover {
    background-color: #77287d;
    transform: translateY(-5%) scale(1.1);

    transition: transform 0.7s;
}

.product-item:hover .product-title,
.product-item:hover .product-price {
    color: #fff;
}